.gpt3__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;   
}
.gpt3__header-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.gpt3__header-content h1{
    width: 100%;
    font-family: var(--font-family);
    font-size: 62px;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: -0.04em;
    text-align: left;
}
.gpt3__header-content p{
    width: 100%;
    font-family:var(--font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;    
    color: #81AFDD;
    margin-top: 2rem;
}
.gpt3__header-content p:last-child{
    font-family:var(--font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;    
}
.gpt3__header-input{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    margin-top: 2rem;
}
.gpt3__header-input input{
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    border: none;
    padding:0 1rem;
    background:#052D56;
    font-family:var(--font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #3D6184;
    outline: none;    
}
.gpt3__header-input button{
    height: 100%;
    background: #FF4820;
    border-radius:0 5px 5px 0;
    width: 174px;
    border: none;
    color: #fff;
    font-family:var(--font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
    text-align: center;    
}
.gpt3__header-people{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}
.gpt3__header-people img{
    width: calc(36px * 6);
    margin-right: .5rem;
}
.gpt3__header-people p{
    margin-top: 0;
    font-family:var(--font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;    
    color: #fff;
}
.gpt3__header-image{
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.gpt3__header-image img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:1250px) {
    .gpt3__header{
        flex-direction: column;
    }
    .gpt3__header-content{
        margin-bottom: 3rem;
    }
}
@media screen and (max-width:800px) {
    .gpt3__header-content h1{
        font-size: 50px;
    }
}
@media screen and (max-width:550px){
    .gpt3__header{
        padding-top: 3rem;
    }
    .gpt3__header-content h1{
        font-size: 45px;
        line-height: 55px;
    }
    .gpt3__header-people p:last-child{
        line-height: 20px;
    }
    .gpt3__header-content p{
        font-size: 18px;
    }
}